<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Scripts/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" type="text/css" />
    <link href="~/Content/uniform/css/uniform.default.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.datatables.net/responsive/2.2.3/css/dataTables.responsive.css" type="text/css" />
    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <style>
        .navbar {
            margin-top: -3% !important;
        }

        .breadcrumb {
            border-radius: 10px;
            background-color: black;
        }

        #txt {
            margin-top: 10%;
            position: fixed;
        }

        body {
            background-image: url(/Content//Imagens/img4.jpg);
            width: 100%;
            opacity: 0.9;
        }

        .page-content-wrapper{
            min-height: 440px;
            
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <nav aria-label="breadcrumb" style="width: 120%;">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Index", "Carro", new { area = "" })">Home</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content clearfix">
            @RenderBody()
        </div>

    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
            <p>&copy; @DateTime.Now.Year Teste Tec4You</p>

        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src=" https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
</body>
</html>
